<div class="b-select {{ddClass}}">
    <div ng-click="toggleVisibilityMenu()">
        <input type="text" class="b-select__field" ng-class="{ 'b-select__field_active': isOpen }" value="{{selected}}" ng-readonly="true" >
        <button type="button" class="b-select__btn" ng-class="{ 'b-select__field_active': isOpen }"></button>
    </div>
    <ul class="b-select__list" ng-show="isOpen">
        <li class="b-select__item" ng-repeat="(k, o) in list" ng-click="chooseItem(k)">{{::o.name}}</li>
    </ul>
</div>